/*------------------------------------------------------------
	Title
------------------------------------------------------------*/
.ttl{
	  text-align: center;
    font-size: 5rem;
    line-height: 6rem;
    position: relative;
    letter-spacing: .1rem;
    margin-bottom: 7rem;
    text-transform: uppercase;
		color: #24445e;
		font-weight: 600;
		&::after{
			position: absolute;
      content: "";
      width: 10%;
      height: .2rem;
      background-image: url(../../assets/images/zic-zac-line.svg);
      background-repeat: no-repeat;
      bottom: -2.5rem;
      transform: translateX(-50%);
      left: 50%;
      width: 11rem;
      height: 1.5rem;
		}
}
.description{
  text-align: center;
  margin: 6rem auto;
  position: relative;
  color: #24445e;
  font-size: 1.8rem;
}