/*------------------------------------------------------------
	Other
------------------------------------------------------------*/
.c-404{
	position: relative;
	padding-top: 5rem;
	&__ttl{
		font-size: 6rem;
    text-align: center;
    color: #185783;
		margin-bottom: 3rem;
	}
	&__btn{
		background-color: #0080c8;
    border: 1px solid transparent;
		text-decoration: none;
		border-radius: .5rem;
		height: 3.6rem;
		padding: 7px 10px;
		font-weight: bold;
		color: #ffff;
		transition: all .3s;
		&:hover{
			color: #0080c8;
			background-color: #ffff;
			border: 1px solid #0080c8;
		}
	}
}
.c-glamping{
	padding-top: 50rem;
	width: 100%;
	color: #fff;
	position: relative;
	overflow: hidden;
	&::before{
		content: "";
    position: absolute;
		background-image: url(../../assets/images/camping01.jpg);
    background-repeat: no-repeat;
    width: 110%;
    height: 50rem;
    background-size: 100%;
    object-fit: cover;
    top: 0;
    left: -6rem;
    background-position: 50%;
    box-shadow: inset 0 7rem 8rem #fff, inset 3rem -4rem 3rem #fff;
	}
	&__title{
		padding-top: 5rem;
	}
	&__gallery{
		@include flex-center;
	}
	&__images{
		display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(4,25rem);
    grid-template-rows: repeat(3,25rem);
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: inline-block;
			&:nth-child(1){
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 1;
				grid-row-end: 2;
			}
			&:nth-child(2){
				grid-column-start: 2;
				grid-column-end: 3;
				grid-row-start: 1;
				grid-row-end: 2;
			}
			&:nth-child(3){
				grid-column-start: 1;
				grid-column-end: 2;
				grid-row-start: 2;
				grid-row-end: 3;
			}
			&:nth-child(4){
				grid-column-start: 2;
				grid-column-end: 3;
				grid-row-start: 2;
				grid-row-end: 3;
			}
			&:nth-child(5){
				grid-column-start: 3;
				grid-column-end: 5;
				grid-row-start: 1;
				grid-row-end: 3;
			}
			&:nth-child(6){
				overflow: hidden;
				grid-column-start: 3;
				grid-column-end: 5;
				grid-row-start: 3;
				grid-row-end: 4;
				width: 100%;
				height: 25rem;
				border-radius: .5rem;
			}
			&:nth-child(7){
				overflow: hidden;
				grid-column-start: 1;
				grid-column-end: 3;
				grid-row-start: 3;
				grid-row-end: 4;
				width: 100%;
				height: 25rem;
				border-radius: .5rem;
			}
		}
	}
}
.c-local{
	padding: 5rem 0;
	&__bg{
    img{
			object-fit: cover;
      width: 100%;
			&:nth-child(1){
				margin-bottom: -2px;
			}
		}
	}
}