/*------------------------------------------------------------
	Other
------------------------------------------------------------*/
.c-404{
	position: relative;
	padding-top: 5rem;
	&__ttl{
		font-size: 6rem;
    text-align: center;
    color: #185783;
		margin-bottom: 3rem;
	}
	&__btn{
		background-color: #0080c8;
    border: 1px solid transparent;
		text-decoration: none;
		border-radius: .5rem;
		height: 3.6rem;
		padding: 7px 10px;
		font-weight: bold;
		color: #ffff;
		transition: all .3s;
		&:hover{
			color: #0080c8;
			background-color: #ffff;
			border: 1px solid #0080c8;
		}
	}
}
.c-glamping{
	padding-top: 50rem;
	width: 100%;
	color: #fff;
	position: relative;
	overflow: hidden;
	&::before{
		content: "";
    position: absolute;
		background-image: url(../../assets/images/camping01.jpg);
    background-repeat: no-repeat;
    width: 110%;
    height: 50rem;
    background-size: 100%;
    object-fit: cover;
    top: 0;
    left: -6rem;
    background-position: 50%;
    box-shadow: inset 0 7rem 8rem #fff, inset 3rem -4rem 3rem #fff;
	}
	&__title{
		padding-top: 5rem;
	}
}