/*------------------------------------------------------------
	Banner
------------------------------------------------------------*/
.c-mstory{
	position: relative;
	&__inner{
		@include flex-jbetween;
	}
	&__img{
		width: 40%;
		background-image: url('../../assets/images/BG_Wolf.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 70%;
	}
	&__text{
		width: 60%;
		padding: 5rem 0;
	}
	&__ttl{
		font-size: 4.2rem;
    line-height: 4.5rem;
    font-weight: 700;
	}
	&__txt{
		text-align: center;
		font-size: 1.8rem;
		line-height: 3.2rem;
		margin-top: 3rem;
	}
}
.c-map{
	
}