/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer {
	width: 100%;
	text-align: center;
	color: #fff;
	img{
	 width: 100%;
	}
	&__inner{
		background-color: #24445e;
    margin-top: -.1rem;
	}
	&__logo{
		width: 80%;
    margin: 0 auto 3rem;
		text-align: left;
		img{
				width: 10rem;
				margin-top: .5rem;
		}
	}
	&__box{
		@include flex-jbetween;
		width: 80%;
    margin: 0 auto;
		padding-bottom: 1rem;
		flex-wrap: wrap;
		@include sp{
			width: 90%;
		}
	}
	&__info{
		text-align: left;
		font-size: 1.5rem;
		opacity: .7;
		width: 40%;
    padding-left: 1rem;
    padding-right: 2rem;
		@include tb{
			width: 50%;
			padding: 0;
		}
	}
	&__menu{
    width: 30%;
		text-align: left;
		@include tb{
			width: 50%;
			padding-left: 1.5rem;
			@include flex-center;
		}
		ul{
			li{
				margin-bottom: 1rem;
				a{
					font-size: 1.4rem;
					margin-bottom: .8rem;
					font-weight: 700;
					cursor: pointer;
					color: #fff;
					opacity: .7;
					text-decoration: none;
				}
			}
		}
	}
	&__flow{
    width: 30%;
		text-align: left;
		@include sp{
			width: 100%;
		}
		@include tb{
			width: 100%;
		}
		p{
			margin-bottom: 1rem;
			opacity: .7;
			font-size: 1.4rem;
			font-weight: 700;
		}
		svg{
			color: #fff;
			height: 20px;
			width: 20px;
		}
		a{
			&:nth-child(2){
				margin: 0 1rem;
			}
		}
	}
	&__num{
		font-size: 4rem;
    font-weight: 600;
		@include sp{
			font-size: 1.8rem;
		}
	}
	&__mail{
		margin-bottom: 1em;
	}
	&__line{
		background-color: #0080c8;
    height: .2rem;
    margin-top: 3rem;
	}
	&__copy{
		width: 80%;
		margin: 0 auto;
		p{
			margin-left: 1rem;
			margin-bottom: 0;
			color: #fff;
			opacity: .6;
			font-weight: 700;
			font-size: 1.5rem;
			padding: 2rem 0;
			text-align: left;
		}
	}
	&__images{
		@include flex-jbetween;
		align-items: center;
    width: 100%;
		flex-wrap: wrap;
		margin: 2rem -5px 0;
		@include tb{
			justify-content: center;
		}
	}
	&__image{
		width: 25%;
		padding: 5px;
		@include tb{
			width: 33.3%;
		}
		// @include sp{
		// 	width: 50%;
		// }
		img{
			width: 100%;
			@include tb{
				height: auto;
			}
			height: 5rem;
			object-fit: cover;
		}
	}
}