/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-header {
	transition: 0.3s ease-in-out;
	&__inner{
		z-index: 1000;
    @include flex-jbetween;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,.66);
    box-shadow: 0 6px 10px rgba(0,0,0,.2);
    -webkit-transition: all .2s;
    transition: all .2s;
		color: #fff;
	}
	svg{
		margin: 0 1rem;
		display: inline-block;
    vertical-align: -.125em;
		color: $color2;
		@include sp{
			vertical-align: middle;
			height: 1.7rem;
			width: 1.7rem;
		}
	}
	a{
		text-decoration: none
	}
	&__top{
		@include flex-jbetween;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 1rem;
		border-bottom: 1px solid #0b6ea4;
	}
	&__left{
		@include flex-jbetween;
		@include sp{
			display: block;
		}
	}
	&__lang{
		color: $color2;
    cursor: pointer;
    margin-right: 2rem;
	}
	&__right{
		@include flex-jbetween;
		@include sp{
			display: block;
		}
	}
	&__social{
		margin-left: 2rem;
		a{
			&:nth-child(2){
				margin: 0 1rem;
				@include sp{
					margin: auto;
				}
			}
			svg{
				margin: 0 auto;
			}
		}
		@include sp{
			text-align: center;
			margin: 0 auto;
		}
	}
	&__logo{
		margin: 0;
    height: 6.5rem;
		img{
			width: 10rem;
			margin-top: .5rem;
			object-fit: cover;
		}
	}
	&__menu{
		@include flex-jbetween;
		align-items: center;
		@include sp{
			transition: all .5s;
			transform: translateX(100%);
			-webkit-transform: translate(100%);
			left: 100%;
			display: none;
			&.is-active{
				visibility: visible;
				transform: translateX(0);
				-webkit-transform: translate(0);
				@include flex-jbetween;
				overflow: hidden;
				width: 100%;
				top: 100%;
				left: 0;
				flex-direction: column;
				position: absolute;
				background-color: rgba(0, 0, 0, 0.80);
				align-items: flex-start;
				padding: 2rem 0;
				li{
					padding: 0.7rem 0;
				}
			}
		}
		li{
			a{
				padding: .5rem 1.5rem;
				color: hsla(0,0%,100%,.9);
    		letter-spacing: .1rem;
				transition: all .2s;
				&:last-child{
					@include flex-jbetween;
				}
			}
		}
	}
	&__nav{
		display: none;
		@include sp{
			@include flex-jbetween;
		}
		span{
			width: 28px;
			height: 3px;
			background-color: #fff;
			margin: 6px 0;
			transition: .4s;
			border-radius: 5px;
			position: relative;
			transition: 0;
			&::after{
				width: 28px;
				height: 3px;
				background-color: #fff;
				margin: 6px 0;
				transition: .4s;
				border-radius: 5px;
				content: '';
				position: absolute;
				bottom: 2px;
			}
			&::before{
				width: 28px;
				height: 3px;
				background-color: #fff;
				margin: 6px 0;
				transition: .4s;
				border-radius: 5px;
				content: '';
				position: absolute;
				top: 2px;
			}
		}
		&.is-active{
			span{
				height: 0;
				visibility: hidden;
				&::after{
					transform: rotate(-45deg) translate(-6px,10px);
					visibility:visible;
					height: 4px;
				}
				&::before{
					transform: rotate(45deg) translate(-4px,-8px);
					visibility:visible;
					height: 4px;
				}
			}
		}
	}
}