extends _layout/default

block vars
  -title        = 'ADVENTURE - Bold wolf'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -Btitle        = 'NHÀ THÁM HIỂM'
  -Bdescription  = 'Team Building & Adventure'
  -Bimg     = path+'assets/images/image03.jpg'

block container
  .l-container
    section.c-mstory
      .c-mstory__inner
        .c-mstory__img
        .c-mstory__text
          h2.c-mstory__ttl.ttl Câu chuyện của chúng tôi
          p.c-mstory__txt Với hơn 13 năm kinh nghiệm trong môi trường tổ chức sự kiện đầy năng động,
            | Bold Wolf hướng đến việc tạo ra kết nối bền vững giữa các cá nhân, tổ chức và thiên nhiên. 
            | Từ những chương trình TEAM BUILDING đến các hành trình trải nghiệm mạo hiểm ADVENTURE, Bold 
            | Wolf mong muốn đem đến khách hàng những dịch vụ chất lượng và đa trải nghiệm nhất, thông qua sự táo bạo và độc đáo trong từng sản phẩm.
  section.c-safety
    .c-safety__img
      img(src=path+'assets/images/bg_02.png' alt)
