extends _layout/default

block vars
  -title        = 'Trang chủ - Bold wolf'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -Btitle        = 'CHUYỆN TRẢI NGHIỆM'
  -Bdescription  = 'Team building & Adventure'
  -Bimg     = path+'assets/images/image01.jpg'

block container
  .l-container
    .c-blog
      .c-blog__title Danh sách blog
      ul.c-blog__list
        li.c-blog__item
          .c-blog__img
            img(src=path+'assets/images/image01.jpg' alt="blog item")
          a(href="#")  
            .c-blog__content
              h4.c-blog__ttl Du lịch mạo hiểm - Xu thế ngày càng được ưa chuộng
              p.c-blog__txt Bạn đã hiểu đúng về du lịch mạo hiểm? Theo định nghĩa của Tổ chức 
               | Du lịch Mạo hiểm Thương mại (Adventure Travel Trade Association) - (ATTA) thì du 
               | lịch mạo hiểm phải có ít nhất hai trong ba yếu tố sau: hoạt động thể lực, môi trường tự nhiên và trải nghiệm 
               |văn hóa. Mặc dù trái ngược với du lịch thông thường, du lịch mạo hiểm vẫn đề cao các giá trị đến từ môi trường tự nhiên, văn hóa và tính bền vững.
        li.c-blog__item
          .c-blog__img
            img(src=path+'assets/images/image01.jpg' alt="blog item")
          a(href="#")  
            .c-blog__content
              h4.c-blog__ttl Du lịch mạo hiểm - Xu thế ngày càng được ưa chuộng
              p.c-blog__txt Bạn đã hiểu đúng về du lịch mạo hiểm? Theo định nghĩa của Tổ chức 
               | Du lịch Mạo hiểm Thương mại (Adventure Travel Trade Association) - (ATTA) thì du 
               | lịch mạo hiểm phải có ít nhất hai trong ba yếu tố sau: hoạt động thể lực, môi trường tự nhiên và trải nghiệm 
               |văn hóa. Mặc dù trái ngược với du lịch thông thường, du lịch mạo hiểm vẫn đề cao các giá trị đến từ môi trường tự nhiên, văn hóa và tính bền vững.
        li.c-blog__item
          .c-blog__img
            img(src=path+'assets/images/image01.jpg' alt="blog item")
          a(href="#")  
            .c-blog__content
              h4.c-blog__ttl Du lịch mạo hiểm - Xu thế ngày càng được ưa chuộng
              p.c-blog__txt Bạn đã hiểu đúng về du lịch mạo hiểm? Theo định nghĩa của Tổ chức 
               | Du lịch Mạo hiểm Thương mại (Adventure Travel Trade Association) - (ATTA) thì du 
               | lịch mạo hiểm phải có ít nhất hai trong ba yếu tố sau: hoạt động thể lực, môi trường tự nhiên và trải nghiệm 
               |văn hóa. Mặc dù trái ngược với du lịch thông thường, du lịch mạo hiểm vẫn đề cao các giá trị đến từ môi trường tự nhiên, văn hóa và tính bền vững.
        li.c-blog__item
          .c-blog__img
            img(src=path+'assets/images/image01.jpg' alt="blog item")
          a(href="#")  
            .c-blog__content
              h4.c-blog__ttl Du lịch mạo hiểm - Xu thế ngày càng được ưa chuộng
              p.c-blog__txt Bạn đã hiểu đúng về du lịch mạo hiểm? Theo định nghĩa của Tổ chức 
               | Du lịch Mạo hiểm Thương mại (Adventure Travel Trade Association) - (ATTA) thì du 
               | lịch mạo hiểm phải có ít nhất hai trong ba yếu tố sau: hoạt động thể lực, môi trường tự nhiên và trải nghiệm 
               |văn hóa. Mặc dù trái ngược với du lịch thông thường, du lịch mạo hiểm vẫn đề cao các giá trị đến từ môi trường tự nhiên, văn hóa và tính bền vững.             