extends _layout/default

block vars
  -title        = 'Trang chủ - Bold wolf'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -Btitle        = 'An toàn'
  -Bdescription  = 'An toàn là ưu tiên hàng đầu của Bold Wolf'
  -Bimg     = path+'assets/images/image01.jpg'

block container
  h1 ccccccccccccccc
